---
import { Image } from "astro:assets";
import SimilarPosts from "@/components/SimilarPosts.astro";
import CTA from "@/components/CTA.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similerItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi";

const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const { title, description, authors, categories, image, image_bg_color, show_cta, date, tags } =
  post.data;
const category = categories[0];
---
<section class="section pt-8 md:pt-16">
  <div class="container">
    <article class="row justify-center">
      <div class="md:col-10 text-center">
        { category && <Breadcrumbs post={post} /> }
        <h1 set:html={markdownify(title)} class="h1" />
      </div>

      <div class="col-12 mt-8 mb-2">
        {
          image && (
            <Image
              src={image}
              height={500}
              width={1000}
              alt={title}
              class={'rounded-lg ' + image_bg_color}
            />
          )
        }
      </div>

      { show_cta && <CTA title={'Need Help with Your ' + category + '?'} bg_color="bg-yellow-50" btn_color="bg-orange-400" url="/services/" btn_text="Find Out More" } >If you need help creating a unique, memorable { category }, I can help! I offer expert feedback, editing, and speechwriting.</CTA> }
      
      <div class="md:col-10">
        <div class="content text-left">
          <Content />
        </div>

      </div>
    </article>
    
  </div>
  
{ show_cta && <CTA title={'Need Help with Your ' + category + '?'} bg_color="bg-yellow-50" btn_color="bg-orange-400" url="/services/" btn_text="Find Out More" } >If you need help creating a unique, memorable { category }, I can help! I offer expert feedback, editing, and bespoke speechwriting.</CTA> }

</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="mb-8 text-center h3">Read More Like This</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
